<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      {{!-- router: /search --}}
      <form action="/restaurants/search" class="row">
        <h4 class="mb-2 col-12">尋找餐廳：</h4>
        <div class="input-group col-6">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
        <div class="input-group col-6">
          <select class="form-control" id="sort" name="sort">
            <option><button class="btn" name="sort-name-asc" type="submit">A > Z</button></option>
            <option><button class="btn" name="sort-name-desc" type="submit">Z > A</button></option>
            <option><button class="btn" name="sort-category-asc" type="submit">類別</button></option>
            <option><button class="btn" name="sort-location-asc" type="submit">地區</button></option>
          </select>
        </div>
      </form>
    </div>
  </div>
</div>

{{#if restaurants}}
<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restaurants}}
        <a href="/restaurants/{{ this._id }}" class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src="{{ this.image }}" alt="{{ this.name }}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{ this.name }}</h6>
              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{ this.category }}
              </div>

              <span class="badge badge-pill badge-danger font-weight-normal">
                {{ this.rating }}
                <i class="fas fa-star fa-xs"></i>
              </span>
            </div>
            <div class="card-footer d-flex justify-content-end flex-wrap">
              <a href="/restaurants/{{this._id}}/edit"><button class="btn btn-link btn-sm">Edit</button></a>
              <a href="/restaurants/{{this._id}}"><button class="btn btn-link btn-sm">Details</button></a>
              <form action="/restaurants/{{this._id}}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger btn-sm text-white">Delete</button>
              </form>
            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>

{{else}}
{{!-- alert message --}}
<div class="alert alert-danger text-center m-5" role="alert">
  No restaurant had been found with your keyword: "{{keyword}}" !
</div>

{{/if}}